.carrusel-item {
    width: 320px;
    height: 320px;
}

/*Moviles*/
@media (max-width: 500px) {
    .carrusel-item { width: 250px; height: 260px; }
    .carrusel-item.activo .abrir-slide{ margin-top: 20px;}
        body, .slideout p, .slideout li, .subheader {
        font-size: 13px;
    }
}