#indice-general {
    text-align: center;
}

#indice-general ol {
    display: inline-block;
    text-align: left;
}

#indice-general li a {
    text-decoration: none;
    color: var(--acento) !important;
    transition: color 0.2s;
}

#indice-general li a:hover {
    color: var(--texto) !important;
}

/* Botón subir */
.btn-subir {
    position: fixed;
    right: 20px;
    bottom: 45px;
    z-index: 1000;
}

.btn-subir img {
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-subir img:hover {
    transform: scale(1.1);
}