.form-container {
    max-width: 800px;
    background-color: var(--card-bg) !important;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.form-container h2 {
    font-size: 2em;
    color: var(--texto) !important;
}

.form-container fieldset {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    background-color: var(--card-bg) !important;
}

.form-container legend {
    font-size: 1.4em;
    color: var(--texto) !important;
}

.form-check-label {
    color: var(--texto) !important;
}
